# Variables and Data Types in Python

A variable is a name given to a memory location. It is the basic unit of storage in a program.
The value stored in a variable can be changed during program execution.
A variable is only a name given to a memory location, all the operations done on the variable effects that memory location.
We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it.

# Variables Assigments

In [1]:
# we use assignment operator (=) to assign values to a variables
a = 10
b = 5.5
c = "ML"

# Multiple Assigments

In [3]:
a, b, c, = "ML", 5.5, 10

In [4]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

In [3]:
x = 3

print(id(x))      # print address of variable x

140708315211632

In [4]:
y = 3

print(id(y))     # print the address of variable y

140708315211632

observation:

X and y has same  memory locations

In [5]:
y = 2
print(id(y))   # print the address of variable y

140708315211600

# Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default,

# Numbers

In Python, numeric data type represent the data which has numeric value. Numeric value can be integer, floating number or even complex numbers. These values are defined as int, float and complex class in Python.

Note â€“ type() function is used to determine the type of data type.

In [6]:
a = 5                          #data type is implicitily to the integer
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [7]:
a = 2.5                        #data type is implicitily to the Floating  
print(a, "is of type", type(a))

2.5 is of type <class 'float'>

In [9]:
a = 1 + 2j                       #data type is implicitily to the complex number 
print(a, "is a complex number?")
print(isinstance(1 +2j , complex))
print(type(a))

(1+2j) is a complex number?
True
<class 'complex'>

# Boolean 

Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false).

In [10]:
a = True                     #data type is implicitily boolean
print(type(a))

<class 'bool'>

# Python Strings

In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

Creating String
Strings in Python can be created using single quotes or double quotes or even triple quotes.

Strings can be indexed - often called subscripted well
Similar to C, the first character of strings is indexed to '0'.

In [2]:
s = "This is a Dog"
print(s)

This is a Dog

In [3]:
print(s[0])
#last char s[len(s) - 1] or s[-1]

T

In [4]:
#Slicing
s[-1]

'g'

In [5]:
 s[5:]

'is a Dog'

# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [6]:
a = [10, 4.9, "Yash"]
print(a[1])               #print first index

4.9

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [7]:
a[1] = 45.78
print(a)

[10, 45.78, 'Yash']

# Python tuples

A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable.

In [8]:
z = (1, 1.4, "AI")

In [10]:
print(z[1])             #print paticular element

1.4

In [11]:
z[1] = 1.34

TypeError: 'tuple' object does not support item assignment

# Python Sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [12]:
a = {800, 500, 90000, 1}
print(a)

{800, 1, 500, 90000}

In [13]:
print(type(a))        #print type of a

<class 'set'>

In [14]:
a = {800, 500, 90000, 1, 800, 500, 90000, 1,}
print(a)                             #automatecally set deletes duplicates

{800, 1, 500, 90000}

In [16]:
print(a[1])           # we can't print particualr elements in set cause it's unorder collections of items

TypeError: 'set' object is not subscriptable

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [18]:
d = {'a' : "apple" , 'b' : "bat"}
print(d['a'])

apple

# Conversions between data types

we can convert different data types by using different type conversion functions like int(), float(). str()

In [19]:
float(5)       #convert integer to float using float()

5.0

In [20]:
int(7.10)     #convert float to integer using int()

7

In [21]:
str('20')    #convert int to string

'20'

conversion to and from string must contain compatible values.

In [23]:
int('10')

10

In [25]:
user = "Yash"
lines = 1000

print("congatulations, " + user + "!you just wrote" + str(lines) + "lines of code")

congatulations, Yash!you just wrote1000lines of code

we can convert one sequence to other

In [27]:
a = [1, 2, 3]
print(type(a))  #type of a list 

s = set(a)
print(type(s))   #now type of s is a set

<class 'list'>
<class 'set'>

In [28]:
list("Hello")   #convert string to list using list() method

['H', 'e', 'l', 'l', 'o']